$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);

/* Base */
@import 'base/base';

/* Partials */
@import 'base/partials';

/* Directives */
@import 'directives/main-header';
@import 'directives/links';
@import 'directives/tiles';


.main-container {
  z-index: 10;
  margin-top: 170px;

  .content {

    &>div {
      padding: $block-margin;
      article {
        div.article-title {
          height: 46px;
          padding: 8px;
          background: #eee;
          div.ptr {
            display: block;
            width: 20px;
            height: 30px;
            margin-right: 8px;
            background: #700b0e;
            float: left;
          }

          h1 {
            font-size: 2.5em;
            line-height: 30px;
            color: #222;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
          }
        }

        div.article-content {
          padding: 8px;
          font-size: 1.5em;
        }
      }
    }

  }

}

  
