<div class="tile audio" ng-style="{'background-position-x': -sliderIndex*20+'px'}">
  <div class="overlay">
    <div class="red-rect"></div>
    <div class="tile-title">
      {{ 'TILES.AUDIO' | translate }}
    </div>
    <div class="tile-nav">
      <a href="" ng-click="goPrev()" ng-class="{'disabled': sliderIndex==0}"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a href="" ng-click="goNext()" ng-class="{'disabled': sliderIndex==audioFiles.length-1}"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <ul rn-carousel rn-carousel-duration="600" rn-carousel-easing="easeInOutQuad" rn-carousel-index="sliderIndex"> {{ carouselBufferIndex }}
    <li ng-repeat="song in audioFiles">
      <div class="player">
        <div class="play-btn">
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div class="song-desc">
          <span class="song-title">{{ song.title }}</span><br>
          <span class="song-composer">{{ song.composer }}</span>
        </div>
      </div>
    </li>
  </ul>
</div>