<div class="col-xs-12 col-sm-12 col-lg-7 xs-left-padded sm-left-padded">
  <div class="block join">
    Dołącz do Poznańskiej Polihymnii!
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-2 xs-left-padded">
  <div class="block facebook">
    <img src="images/facebook.png" alt="facebook">
    <div class="desc"><a href="#">Polihymnia<br>na Facebooku</a></div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-3">
  <div class="block jroman">
    <img src="images/jroman.png" alt="impresariat">
    <div class="desc"><a href="#">Impresariat muzyczny<br>Jan Romanowski</a></div>
  </div>
</div>