<div class="fixed-bar">
  <div class="container-fluid">
    <!-- <div class="langs-menu">
      <img src="images/langs/pl.png" class="flag">
      <div class="desc">PL &#x25BC;</div>
    </div> -->
    <!-- Header (logo, menu, langs) -->
    <div class="row header">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row logo-row">
          <!-- Logo -->
          <div class="col-lg-12 logo">
            <img src="images/logo.png" alt="logo" class="img-responsive">
          </div>
        </div>
        <div class="row menu-row">
          <!-- Menu -->
          <div class="col-lg-12 menu">
            <nav>
            <ul>
              <li><a href="#">Historia</a></li>
              <li><a href="#">Dyrygent</a></li>
              <li><a href="#">Galeria</a></li>
              <li><a href="#">Kontakt</a></li>
              <li><a href="#">Posłuchaj</a></li>
              <li><a href="#">Oferta</a></li>
              <li><a href="#">Co nowego?</a></li>
            </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>