.tiles {

  &>div {
    padding: $block-margin 0 0 $block-margin;
    &:last-child {
      padding-right: $block-margin;
      div.tile {
        div.overlay {
          width: calc(100% - #{2*$block-margin});
        }
      }
    }
    &.sm-left-padded {
      @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
        padding-right: $block-margin;
      }
    }
    &.xs-left-padded {
      @media (max-width: $screen-xs-max) {
        padding-right: $block-margin;
      }
    }
  }

  div.tile {

    height: 42vh;
    overflow: hidden;

    ul {
      height: 100%;
    }

    div.overlay {
      height: 46px;
      position: absolute;
      top: 5;
      left: 5;
      width: calc(100% - #{$block-margin});
      background: rgba(225, 225, 225, 0.8);
      z-index: 1000;
      div.tile-title {
        font-size: 2.5em;
        text-transform: uppercase;
        line-height: 46px;
        float: left;
      }

      div.tile-nav {
        color: #222222;
        height: 100%;
        float: right;
        a {
          @include smooth-animation;
          color: #444444;
          line-height: 30px;
          font-size: 24px;
          padding: 8px;
          height: 100%;
          display: block;
          float: left;
          &.disabled {
            cursor: default;
            color: #aaa !important;
            background-color: transparent !important;
          }
        }
        a:hover {
          color: #eeeeee;
          background-color: #444444;
        }
      }

    }

    &.gallery {
      div.slider-img {
        @include img-responsive;
        height: 100%;
        background-size: 100% auto;
      }
    }

    &.audio {
      background: image-url('audio-bg.png') #eeeeee;
      background-repeat: no-repeat;
      background-size: 120% auto;
      @include smooth-animation;
      div.player {
        height: 3cm;
        margin-top: calc(20vh - 1.5cm);
        width: 100%;
        text-align: center;

        a {
          display: inline-block;
          width: 115px;
          height: 115px;
          opacity: 0.9;
          span {
            &.play {
              background: image-url('icons/play.svg') center center no-repeat;
            }
            &.pause {
              background: image-url('icons/pause.svg') center center no-repeat;
            }
            display: inline-block;
            width: 115px;
            height: 115px;
            background-size: 95% !important;
          }
          &:hover {
            opacity: 1;
          }
        }

        div.song-desc {
          display: inline-block;
          height: 115px;
          padding: 25px;
          line-height: 33px;
          vertical-align: top;
          
          span {
            float: left;
          }

          span.song-title {
            font-weight: bold;
            font-size: 2.5em;
          }

          span.song-composer {
            font-size: 1.5em;
            text-transform: uppercase;
          }
        }
      }

      .player-track {

        position: absolute;
        bottom: -50px;
        display: block;
        text-align: center;
        width: 100%;
        @include smooth-animation;

        &.active {
          bottom: 30px;
        }

        .track {
          width: 60%;
          background-color: #222;
          height: 10px;
          display: inline-block;
          margin: 0 auto;
          box-sizing: content-box;
          border-radius: 2px;
          @include box-shadow(1px, 1px, 1px, rgba(0,0,0,0.3));
        }

        .loaded {
          height: 100%;
          background-color: $base-color;
          border-radius: 2px;
        }

        .label {
          font-size: 1.5em;
          font-weight: bold;
          display: inline-block;
          color: #222;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        }

      }

    }
  }
}